{% extends "wide_base.html" %}
{% block 'content' %}
<div>

    <div class="col-md-12">

        <table class="table">
            <tr>
                <th>Players</th>
                <th>Game Speed</th>
                <th>Map Type</th>
                <th>Map Size</th>
                <th>Ai Players</th>
                <th>Date Begun</th>
                <th>Date Finished</th>
                <th>Winner(s)</th>
            </tr>
            {% for game in games %}
            <tr>
                    <td>
                {% for player in game.players.all %}
                    <a href="{% url "games:player" player_name=player.name %}">
                    {{player.name}}
                    </a>
                    </br>
                {% empty %}
                 None!
                {% endfor %}
                </td>
                <td>{{game.speed}}</td>
                <td>{{game.map_type}}</td>
                <td>{{game.size}}</td>
                <td>{{game.ai_players}}</td>
                <td>{{game.begun_date}}</td>
                <td>{{game.finished_date}}</td>
                <td>
                {% for player in game.victor.all %}
                    <a href="{% url "games:player" player_name=player.name %}">
                    {{player.name}}
                    </a>
                    </br>
                {% empty %}
                 None!
                {% endfor %}
                </td>
                <!-- {{game}} -->
            </tr>
            {% empty %}
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            {% endfor %}

        </table>
        
    </div>
</div>
{% endblock %}