{% extends "base.html" %}
{% block 'content' %}
<div>
    <h2>Writing!</h2>
    <div>
        <p>Here I'm going to try and keep some sort of dev diary/blog</p>
        <p>I'm not going to pretend it's going to be well updated, informative or even interesting.</p>
        <p>Or for that matter than anyone but me will ever read it.</p>
    </div>
    <div>
        {% for catergory,post_list in posts.items %}
            <div class="col-md-12 well">
                <div class="col-md-6">
                    <h2><a href="{% url 'blog:catergory' catergory=catergory.name %}">{{catergory.name}}</a></h2>
                </div>
                {% for post in post_list %}
                <div class="col-md-6">
                    <a href="{%url 'blog:post' catergory=catergory.name slug=post.slug %}">{{post.title}}</a>
                </div>
                {% empty %}
              <div class="col-md-6">
                    ...
                </div>
                {%endfor%}
            </div>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
