{% extends "base.html" %}
{% block 'content' %}
<h2 class="text-center"><a href="{% url "the_list:the_list"%}">The List</a></h2>
<div class="text-center">
{% if result %}
    {% if result.active %}
        Yes... 
        {{result.entry}}
        is on the list
    {% else %}
        No... 
        {{result.entry}}
        isn't on the list
    {% endif %}
{% endif %}
</div>
<div>
    <p>
    This is a place where you can ask a "secret" algorithm is something is "The List" and it'll remember it's responses.
    Once it's on "The List" it'll be on the list forever!
    </p>
    <p>
    I'm hoping to add some Natural Language processing to this at some point.
    However at  the moment it's pretty dumb and I imagine will slowly be filled with profanity.
    </p>
    <p>
        You can see what's on the list by clicking "The List" above this text.
    </p>
</div>
<div class=container>
    <form class="text-center" action="{% url "the_list:on_the_list" %}" method=post>
        {% csrf_token %}
        <div class="form-group">
            Is
        </div>
        <div class="form-group">
            <input type="text" class="form-control text-center" id="ask_the_list" name="query" placeholder="...anything..."/> 
        </div>
        <div class="form-group">
            on the list?
        </div>
        <div class=col-md-12>
            <div class="form-group">
                <button type=submit  class="btn btn-info">ASK</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
