{% extends "base.html" %}
{% block 'content' %}
<div>
    <h2>About Me...</h2>
    <div>
        <p>Archtypal programmer and geek, bent on world domination provided I can do it from a keyboard.</p>
        <p>There are some basic HTML5 canvas'y things to the right floating around.</p>
        <p>I'm hoping to add the more adventerous projects to the projects section, using some other languages, technologies.</p>
        <p>I write mostly in Python, Java, Javascript and Go currently, but I'm always on the look out for new up and coming technologies.</p>
        <p>At some point in the near future I'm thinking about doing some freelance work; contact me at "freelance @ 0xdb.co.uk"</p>
    </div>
</div>
{% endblock %}
{% block experiement %}
    {% include "experiment.html" %}
{% endblock %}