{% extends "base.html" %}
{% load pipeline %}{% load staticfiles %}{% load webdesign %}{% load cache %}{% cache 5000 canvas %}
{% block 'after-head' %}{% stylesheet 'animo' %}{% endblock %}
{% block 'content' %}
<h2>Experiments</h2>
<h4>Experiment 3 - Animo (Click the text)</h4>
<div class="animo-test">
  <div class="text-side" id="side-1">
    <h4>1</h4>
    {% lorem 1 p %}
  </div>
  <div class="text-side" id="side-2">
    <h4>2</h4>
    {% lorem 1 p random %}
  </div>
  <div class="text-side" id="side-3">
    <h4>3</h4>
    {% lorem 1 p random %}
  </div>
  <div class="text-side" id="side-4">
    <h4>4</h4>
    {% lorem 1 p random %}
  </div>
</div>
<hr/>
<h4>Experiment 2</h4>
<div class="fill">
    <img src="/static/img/Ad14rG4.png" alt="Authority" width="400px">
</div>
<hr/>
<h4>Experiment 1</h4>
<div class="fill">
    <canvas id="main_canvas" width="400px" height="400px"></canvas>
</div>
<hr/>
{% endblock %}
{% block experiment %}
{% endblock %}
{% block main_js %}
{% javascript 'canvas' %}
{% endblock %}
<!-- {% endcache %} -->
