<footer class="row" id="footer">
    <hr/>
    <div class=col-md-12>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h4 class="text-center">I'm in a footer</h4>
            </div>
            <div class="col-md-4"></div>
    </div>
    <div class=col-md-12>
        <div class="col-md-4 small">
            <p>This is black_space - a site made by Mike.</p>
        </div>
        <div class="col-md-4 small">
            <p>If you think the javascript is cool, checkout the source code.</p>
        </div>
        <div class="col-md-4 small">
            <p>It's templated and minified to buggery and wirtten using the latest in showing off hipstery tech.</p>
        </div>
    </div>
    <hr/>
</footer>