{% extends "base.html" %}{% load compressed %}
{% block 'header' %}
{{block.super}}
<div>
    <canvas id="playful" height="500px;"></canvas>
    <div class=text-center>Left and right control strobe speed.</div>
    <div class=text-center>[ and ] control alpha.</div>
    <div class=text-center>Clicking resets and changes mode</div>
    <div class=text-center>P Pauses</div>
    <div class=text-center>S turns off coloured particles</div>
    <div id="frequency-control" class="text-center">Frequency </div>
    <div id="alpha-control" class="text-center">Alpha </div>
</div>
<hr/>
{% endblock %}
{% block 'content' %}
<div>
    <h2>Hello...</h2>
    <div>
        <p>Welcome to black_space.</p>
        <p>This site is  where there will be things that interest me.</p>
        <p>There might be blog on here, some HTML5 experiements and the like.</p>
        <p>For the moment, a work in progress, but then, what isn't.</p>
        <p>Cheers to <a href="http://www.playfuljs.com/">playfuljs</a> for ideas/code!</p>
    </div>
    <hr/>

    {% if latest_post %}
    <h1>Latest post</h1>
    <hr/>
    <div class="latest_post">        
        <h2>
            <a href="{% url 'blog:post' catergory=latest_post.catergories.all.0 slug=latest_post.slug %}">
                {{latest_post.title}}
            </a>
        </h2>
        <h6>Author - {{latest_post.author}}</h6>
        <div class="snippit">
            {% autoescape off %}
            {{latest_post.markdown_post |truncatewords:100 }} <a href="{% url 'blog:post' catergory=latest_post.public_catergories.0 slug=latest_post.slug %}">(contd.)</a>
            {% endautoescape %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block main_js %}
{{ block.super }}
{% compressed_js 'playful' %}
{% endblock %}
