{% extends "base.html" %}
{% block 'content' %}
<div>
    <h2>Hello...</h2>
    <div>
        <p>Welcome to black_space.</p>
        <p>This site is  where there will be things that interest me.</p>
        <p>There might be blog on here, some HTML5 experiements and the like.</p>
        <p>For the moment, a work in progress, but then, what isn't.</p>
    </div>
    <hr/>
    {% comment %}
    <h5>Latest post</h5>
    <hr/>
    <div>
        <h2>{{latest_post.title}}</h2>
        <h6>Author - {{latest_post.author}}</h6>
        <div>
            {% autoescape off %}
            {{latest_post.markdown_post}}
            {% endautoescape %}
        </div>
    </div>
    {% endcomment %}
</div>
{% endblock %}
