<nav>
    <ul class="nav nav-stacked">
        {% url "mainsite:home" as current %}
        <li class="{% if current ==  request.path %}active{% endif %}"><a href="{{current}}">Home</a></li>
        {% url "mainsite:about_me" as current %}
        <li class="{% if current ==  request.path %}active{% endif %}"><a href="{{current}}">About Me</a></li>
        {% url "mainsite:projects" as current %}
        <li class="{% if current ==  request.path %}active{% endif %}"><a href="{{current}}">Projects</a></li>
    </ul>
</nav>