{% extends "base.html" %}{% load pipeline %}
{% block 'content' %}
<div>
    <canvas id="playful" height="800px;"></canvas>
</div>
{% endblock %}
{% block experiment %}
<div class="text-center panel ">
    <h4>Controls</h4>
    <div class=small>Left and right control strobe speed.</div>
    <div class=small>Left click resets. Middle disconnects mouse follow mode.</div>
    <div class=small>Left and right control strobe speed.</div>
    <div class=small>[ and ] control alpha.</div>
    <div class=small>Clicking resets and changes mode</div>
    <div class=small>P Pauses</div>
    <div class=small>S turns off coloured particles</div>
    <div class=small>Q and W increase the number of particles by 100 and 10 respectively. Reset by clicking.</div>
    <div class=small>E and R decrease the number of particles by 100 and 10 respectively. Reset by clicking.</div>
    <div id="frequency-control" class="small text-center">Frequency </div>
    <div id="alpha-control" class="small text-center">Alpha </div>
    <div id="particle-control" class="small text-center">Particle Count </div>
</div>
{% endblock %}
{% block after-content %}
{% endblock %}
{% block main_js %}
{% javascript 'playful' %}
{% endblock %}