{% extends "base.html" %}{% load pipeline %}
{% block 'content' %}
<div>
    <canvas id="playful" height="800px;"></canvas>
</div>
{% endblock %}
{% block experiment %}
<div class="text-center panel">
    <h2>Controls</h2>
    <div >Left and right control strobe speed.</div>
    <div >Left click resets. Middle disconnects mouse follow mode.</div>
    <div >Left and right control strobe speed.</div>
    <div >[ and ] control alpha.</div>
    <div >Clicking resets and changes mode</div>
    <div >P Pauses</div>
    <div >S turns off coloured particles</div>
    <div id="frequency-control" class="text-center">Frequency </div>
    <div id="alpha-control" class="text-center">Alpha </div>
</div>
{% endblock %}
{% block after-content %}
{% endblock %}
{% block main_js %}
{% javascript 'playful' %}
{% endblock %}